article{
  border : 2px solid #3498db;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0;
  background-color: #ecf0f1;
}
 
article h2{
  color: #2c3e50;
  font-size: 24px;
  margin-bottom: 10px;
  border: 1 px solid #ccc;
  padding: 5px 20px;
}
 
article p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: darkgreen;
}