#root {
  background-color: aliceblue;
}
#kezelopanel {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
#kezelopanel p {
  margin: 10px 10px;
  font-weight: bold;
  font-size: 24px;
  
}
#kezelopanel button {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-size: 24px;
  border: 1px solid gray;
  cursor: pointer;
}
#kezelopanel .up {
  background-color: lightgreen;
}
#kezelopanel .down {
  background-color: lightcoral;
}
